<ion-header-bar class="bar-stable" id="top-bar">
<nav id="menu" class="navbar navbar-default navbar-static-top">     
   <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active col-xs-6">
    	<!--<a class="ripple" href="#home" aria-controls="home" role="tab" data-toggle="tab">Playlist</a>-->
    	<ion-item class="ripple" href="#/session-tabs/plasylist" menu-close="">Playlist</ion-item>
    </li>
    <li role="presentation" class="col-xs-6">
    	<!--<a class="ripple" href="#search-container" aria-controls="search-container" role="tab" data-toggle="tab">Add Song</a>-->
    	<ion-item class="ripple" href="#/session-tabs/search" menu-close="">Search</ion-item>
    </li>       
  </ul>     
</nav>
</ion-header-bar>
<ion-nav-view name="session-tabs"></ion-nav-view>