/*Ionic Resets*/
    #top-bar{
    	padding: 0;
	}
	#menu{width: 100%;}

body, ion-content{ 
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	color: #fff;
}

.song { 
    width: 100%;
    margin-bottom: 10px;
    min-height: 0;    
    color: #fff;
    background-color: #222;
    border: 1px solid #555;
    padding: 10px 0;
    margin-bottom: 20px;

    i{
    	padding: 0 10px;
    	font-size: 20px;
    	vertical-align: middle;
    }
    
	button{
		background-color: #FF6E40;	
		box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
		border: none;
		height: 35px;
	}

	.thumb{
		text-align: right;
		img{
			width: 100%;
	    	max-width: 124px;
		}
	}

	button i{
		color: #fff;
	}	

	.ng-binding{
		padding-left: 25px;
		i{
			margin-left: -28px;
    		padding-right: 5px;
    		font-size: 15px;
		}
	}

	&.search{
		height: 112px;
		padding: 0;

		.thumb{ 
		    height: 110px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    max-width: 110px;
		    background-position: center
		}		
		.add-song{
			text-align: right;
			button{
				height: 110px !important;
			    box-shadow: none !important;
			    @media(max-width:430px){
			    	i{
			    		padding-left: 0px;
			    	}	
			    }			    
			}
		}
		>div{
			display: flex;
    		align-items: center;
		}
	}	
}

.dark-icon{
	color: #111;
}
 
.next-button{
	height: 62px;
    margin-top: 0px;
    background-color: #32323A;
    color: #fff;
    border: 1px solid #222;
    border-left: none;
    float: left;
    margin-left: 0px;
    position: relative;
}

#player{
	float: left;
}

.next-button:active,.next-button:focus,.next-button:hover{
	border-color: #222;
	box-shadow: none;
	outline: 0 none;
}

#menu{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border: 0;
	text-align: center;
}

#menu li{
	padding: 0;
	border: 0;
	background-color: #FF6E40;	
	overflow: hidden;
}

#menu li a{
	background-color: transparent;
	color: #fff;
	border: 0;
	height: 51px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

#menu li a:hover{
	background-color: transparent;
	border-bottom: solid 2px  #FD5620;
}


.ripple {	
	/*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
	position: relative;
	
}


/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
	display: block; position: absolute;
	background: hsl(180, 40%, 80%);
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.4s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}

.nospace{
	padding: 0;
	margin: 0;
}

#search{
	border: none;
	border-bottom: 2px solid #FF6E40;
	background-color: transparent;	
	color: #fff;    
	padding-left: 25px;
	width: 90%;
    margin-bottom: 20px;
    display: inline-block;
}

#search:active,#search:focus,#search:hover{
	outline: 0 none;
}

#search-icon{
	position: relative;
    left: 20px; 
    bottom: 10px;
}

#search-empty, #playlist-empty{
	text-align: center;
	margin-top: 40px;
}

#search-empty i, #playlist-empty i{
	font-size: 140px;
}

#search-empty strong, #search-empty i, #search-empty p, #playlist-empty strong, #playlist-empty i, #playlist-empty p{
	display: block;
}

#search-container{
	margin-top: 30px;
	
	& > div:last-of-type{	
		margin-bottom: 90px;
	}
}

#now-playing{ 
	#now-playing-title{
		text-align: center;
		color: #fff;	
		margin: 0 auto;
		width: 150px;
		border-bottom: solid 1px;
		margin-bottom: 15px;
		h4{ 
			color: #fff;		
			display: inline-block;
		}	
		i{
		    padding-left: 0;	
		}
	}	
}

#now-playing-web{
	background: #333; 
	.player-controls{
		display: flex;
    	justify-content: flex-start;
	}
	#player iframe{
		width: 100% !important;
	}
}