<html ng-app="socialdjApp">
	<head>
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="socialdjapp.js"></script>

		<script type="text/javascript" src="js/sdk-init.js"></script>
		<script type="text/javascript" src="js/shred.bundle.js"></script>
		<script type="text/javascript" src="js/swagger.js"></script>
		<script type="text/javascript" src="df-operations.js"></script>

		<!-- Socket.io -->
        <script src="http://localhost:4000/socket.io/socket.io.js"></script>

        <!-- Our app.js file -->
        <script type="text/javascript" src="js/socket.io-client.js"></script>
		
		
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
	</head>
	<body id="session" ng-controller="SessionCtrl as session">
		<div class="container">
			<div class="col-md-4">
				<h3>Now Playing</h3>
				<div id="dz-root"></div>
				<div id="player" style="width:300px;" align="center"></div>
				<div class="col-md-8">
					{{session.currentSong.name}}<br>
					{{session.currentSong.artist}}<br>
					<img src="{{session.currentSong.thumb}}"/>
				</div>
				<div class="col-md-4">
					<button>Play/Pause</button>
					<button ng-click="session.skipSong()">Next</button>
				</div>
			</div>

			<div class="col-md-4">
				<h3>Playlist</h3>
				<div class="container-fluid" ng-repeat="song in session.songList | orderBy: '-votes'">
					<button class="col-md-2" ng-click="session.removeVote(song)">-</button>
					<div class="col-md-8">
						{{song.name}}<br>
						{{song.artist}}<br>
						<img src="{{song.thumb}}"/>
						{{song.votes}}
					</div>
					<button class="col-md-2" ng-click="session.addVote(song)">+</button>
				</div>
			</div>			

			<div class="col-md-4">
				<h3>Add Song</h3>
				<input type="text" ng-model="query">
				<button ng-click="searchResult = session.searchSongs(query)">Search</button>
				<div class="container-fluid" ng-repeat="song in searchResult">
					<div class="col-md-8">
						{{song.name}}<br>
						{{song.artist}}<br>
						<img src="{{song.thumb}}"/>
						
					</div>
					<div class="col-md-4">
						<button ng-click="session.addSong(song)">Add</button>
					</div>
				</div>							  
			</div>

		</div>

		
		<script src="https://cdns-files.deezer.com/js/min/dz.js"></script>
		<script type="text/javascript" src="player.js"></script>
	</body>
</html>