<html ng-app="socialdjApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset='utf-8'> 

		<script type="text/javascript" src="js/config.js"></script>
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>		

		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="socialdjapp.js"></script>

		<script type="text/javascript" src="js/sdk-init.js"></script>
		<script type="text/javascript" src="js/shred.bundle.js"></script>
		<script type="text/javascript" src="js/swagger.js"></script>
		<script type="text/javascript" src="df-operations.js"></script>
		<script type="text/javascript" src="js/ripple.js"></script>

		<!-- Socket.io -->		
        <script type="text/javascript" src="js/socket.io.js"></script>

        <!-- Our app.js file -->
        <script type="text/javascript" src="js/socket.io-client.js"></script>

        <!-- MDL -->        
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.red-deep_orange.min.css" /> 
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		
		<link href='http://fonts.googleapis.com/css?family=Roboto:500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body id="session" ng-controller="SessionCtrl as session">
		<nav id="menu" class="navbar navbar-default navbar-static-top">		  
		     <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active col-xs-6"><a class="ripple" href="#home" aria-controls="home" role="tab" data-toggle="tab">Playlist</a></li>
			    <li role="presentation" class="col-xs-6"><a class="ripple" href="#search-container" aria-controls="search-container" role="tab" data-toggle="tab">Add Song</a></li>			  
			  </ul>		  
		</nav>

		<div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">		    			    	
		    	<div id="playlist-empty" ng-show="session.songList.length == 0">
					<i class="fa fa-music fa-inverse"></i>
					<strong>The playlist is empty :(</strong>
					<p>Go to the "Add Song" tab to start playing some music.</p>
				</div>
		    	<div class="song" ng-repeat="song in session.songList  | orderBy: '-votes'">								<div>
		    			<div class="col-xs-4 nospace thumb">
							<img style="width:100%;" src="{{song.thumb}}" ng-click="session.deleteSong(song)"/>								
						</div>
						<div class="col-xs-8 nospace">							
							<p><i class="material-icons">music_note</i>{{song.name}}</p>
							<p><i class="material-icons">person</i>{{song.artist}}</p>
							<p><i class="material-icons">star</i>{{song.votes}}</p>
						</div>			
						<div class="clearfix"></div>			
					</div>
					<div >						
						<button class="col-xs-6" ng-click="session.removeVote(song)"><i class="fa fa-chevron-down"></i></button>
						<button class="col-xs-6" ng-click="session.addVote(song)"><i class="fa fa-chevron-up"></i></button>
						<div class="clearfix"></div>
					</div>
				</div>
				
		    </div>
		    <div role="tabpanel" class="tab-pane" id="search-container">
		    	<i id="search-icon" class="fa fa-search fa-inverse"></i>
		    	<input placeholder="Search" id="search" type="text" ng-model="query" ng-keyup="$event.keyCode == 13 && session.searchSongs(query) && session.hideElement('#search-empty')">

		    	<div id="search-empty">
					<i class="fa fa-search fa-inverse"></i>
					<strong>Search you favorite song</strong>
					<p>Add it to the playlist</p>
				</div>
				<!--<button ng-click="searchResult = session.searchSongs(query)">Search</button>-->
				
				<div class="song search" ng-repeat="song in session.searchResults">					
					<div>
						<div class="col-xs-3 nospace thumb">
							<img style="width:100%;" src="{{song.thumb}}"/>						
						</div>
						<div class="col-xs-8 nospace">							
							<p><i class="material-icons">music_note</i>{{song.name}}</p>
							<p><i class="material-icons">person</i>{{song.artist}}</p>							
						</div>						
						<div class="col-xs-1 nospace add-song">
							<button ng-click="session.addSong(song)"><i class="material-icons">add</i></button>		
						</div>
						<div class="clearfix"></div>
					</div>					
				</div>
		    </div>	
		</div>
		<nav id="now-playing" class="navbar navbar-default navbar-fixed-bottom">
		  <div class="nospace">
		    	<div class="col-xs-8 nospace">
			    	<div id="dz-root"></div>
					<div id="player" style="width:80%;" align="center"></div>
					<button class="next-button" ng-click="session.skipSong()"><i class="fa fa-step-forward"></i></button>
				</div>
				<div class="col-xs-4 nospace">					
					<img  src="{{session.currentSong.thumb}}"/>				
				</div>
				<div class="clearfix"></div>
		  </div>
		</nav>
		<script src="https://cdns-files.deezer.com/js/min/dz.js"></script>
		<script type="text/javascript" src="player.js"></script>
	</body>
</html>
